Source: schemepy
Section: python
Priority: optional
Maintainer: pluskid <pluskid@gmail.com>
Standards-Version: 3.7.2

Package: schemepy
Architecture: all
Depends: python2.5
Recommends: python-nose, guile-1.8, plt-scheme
Provides: ${python:Provides}
Description: Schemepy is a Python module that enables you to embed a
 Scheme interpreter in your program. It supports various native Scheme
 implementations for speed. A fall back pure-Python implementation is
 also available when no suitable native implementations available.
